
body{
    margin: 0px 0px 0px 0px;
    font-family: 'Times New Roman', Times, serif;
    /*background-image: url("imagenes/duotone.png");*/
    
    
}

header{
    background-color: #c4ebf5;
    padding: 20px;
    position: relative;
}

nav{
    text-align: center;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.fondo{
    background-color: rgb(252, 252, 252, 0.6);
}

h1{
    text-align: center;
}

.logo{
    float: left;
}

.sep{
    margin: 50px;
    color: black;
}

footer{
    background-color: #c4ebf5;
    
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

main{
    padding: 20px;
}

.copy{
    text-align: center;
    font-size: 12px;
    flex-grow: 1;
}

.movment{
    text-align: left;  
}

.info_mov{
    list-style: none;
}


.contact{
    text-align: left;
        
}

table, td{
    border: solid 1px;

}

table{
    margin: 0 auto;
    border-collapse: collapse; 
    width: 80%; 
}

.horarioTabla{
    text-align: center;
}

.imagen_lib{
    float: left; /* Imagen flota a la izquierda */
    margin-right: 15px; /* Añade espacio a la derecha de la imagen */
    width: 200px; 
    
}

.libro_info{
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px;
    text-align: justify;
    background-color: rgb(148, 168, 234);
    
}

.hour{
    clear: both;
}


aside{
    float: left;
    width: 25%;
    background-color: #ecfbff;
    margin-left: 20px;
    padding: 10px;
    padding-bottom: 500px; /*Mirar esto*/

}

.category{
    float: left;
    margin-left: 20px;
}

.titCat{
    text-align: center;
}


.footAside{
    clear: both;
}
