
body{
    margin: 0px 0px 0px 0px;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("imagenes/duotone.png");
    box-sizing: border-box;
    
}

header{
    background-color: #c4ebf5;
    width: 100%;
    padding: 20px;
}

nav{
    text-align: center;
    width: 100%;
}

.fondo{
    background-color: rgb(252, 252, 252, 0.6);
}

h1{
    text-align: center;
}

.sep{
    margin: 50px;
    color: black;
}

footer{
    background-color: #c4ebf5;
    width: 100%;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

main{
    width: 100%;
    padding: 20px;
}

.copy{
    text-align: center;
    font-size: 12px;
    flex-grow: 1;
}

.movment{
    text-align: left;  
}

.info_mov{
    list-style: none;
}


.contact{
    text-align: left;
        
}

table, td{
    border: solid 1px;

}

table{
    margin: 0 auto;
    border-collapse: collapse; 
    width: 80%; 
}

.horarioTabla{
    text-align: center;
}

.imagen_lib{
    float: left; /* Imagen flota a la izquierda */
    margin-right: 15px; /* Añade espacio a la derecha de la imagen */
    width: 200px; 
    
}

.libro_info{
    overflow: hidden;
    padding-top: 60px;
    padding-left: 20px;
    
}

.hour{
    clear: both;
}